<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.petopia.api.recruitnotice.mapper.RecruitNoticeMapper">
    <resultMap id="recruitNoticeResultMap" type="com.ms.petopia.api.recruitnotice.domain.RecruitNotice">
        <id property="recruitNoticeId" column="recruit_notice_id" />
        <result property="writerId" column="writer_id" />
        <result property="fairId" column="fair_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="imageUrl" column="image_url" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="recruitDeadline" column="recruit_deadline" />
    </resultMap>

    <!--
        모집 공고 작성
        해당 행사에 모집 공고가 없으면 새로 작성하고 있을 경우 update로 수정함
     -->
    <insert id="upsertNotice" parameterType="com.ms.petopia.api.recruitnotice.domain.RecruitNotice">
        INSERT INTO recruit_notice (fair_id, writer_id, title, content, image_url, recruit_deadline)
        VALUES (#{fairId}, #{writerId}, #{title}, #{content}, #{imageUrl}, #{recruitDeadline})
        ON DUPLICATE KEY UPDATE
            title = #{title},
            content = #{content},
            image_url = #{imageUrl},
            recruit_deadline = #{recruitDeadline},
            updated_at = NOW()
    </insert>

    <!-- 해당 행사에 모집 공고 있는지 확인 -->
    <select id="selectByFairId" parameterType="long" resultMap="recruitNoticeResultMap">
        SELECT recruit_notice_id, fair_id, writer_id, title, content, image_url,
            created_at, updated_at, recruit_deadline
        FROM recruit_notice
        WHERE fair_id = #{fairId}
    </select>

    <!-- 이 행사(fairId)의 담당 EVENT_ADMIN 조회 -->
    <select id="selectAdminUserIdByFairId" parameterType="long" resultType="long">
        SELECT admin_user_id
        FROM fair_admin_assignments
        WHERE fair_id = #{fairId}
    </select>

</mapper>